
* {box-sizing: border-box;
margin: 0;
padding: 0;}


.postcard {background: url(img/fon.jpg) no-repeat center/cover;
    display: flex;
justify-content: center;
align-items: center;

height: 100vh; }

.postcard__content { background: #feffe0;
 background: radial-gradient(circle, rgb(254, 255, 169) 0%, rgb(141, 54, 54) 100%);     

max-width: 400px;
border-radius: 10px;
padding: 20px;
text-align: center;
transition: transform 1s ease;
border: 3px solid #811616;
position: relative;
overflow: hidden;}



.postcard__content:hover{transform: scale(1.10); }
.star {max-width: 150px;
animation: starMove 3s infinite;}

.postcard__title {font-family: 'Courier New', Courier, monospace;  text-shadow: 2px 2px 2px rgb(151, 91, 12);
   animation: changeColor 5s infinite;  }

.postcard__text {font-family: 'Times New Roman', Times, serif; color: rgb(17, 56, 17); text-shadow: 2px 2px 2px rgb(58, 88, 50); line-height: 1.6;}

.postcard__btn { border: none; padding: 10px; border-radius: 7px; bbackground: #578238;
    background: linear-gradient(0deg, rgba(87, 130, 56, 1) 0%, rgba(179, 179, 61, 1) 100%); color: #1e3111; box-shadow: 5px 2px 10px #532e2e; margin: 10px;
animation: fadeIn 3s;}

   


        .soldier {max-width: 150px;
        position: absolute;
    bottom: 0;
right: 50px;}
    
        .plane {max-width: 150px; 
        position: absolute;
    top: 10px; left: 50px;
animation: starMove 3s infinite;}




    @keyframes changeColor{
0%{color: brown;}

20%{ color: rgb(197, 102, 65);}

50%{ color: #fffeba;}

75% { color: rgb(42, 63, 22);}

100%{ color: rgb(153, 136, 41);}
    }
    

    @keyframes fadeIn {

        0%{opacity: 0;}

        100%{opacity: 1;}
    }

    @keyframes starMove {
        
        0%,100%{transform: scale(1);}
50%{transform: scale(1.2);}

}

.confetti div {
    width: 10px;
    height: 10px;
    background: orange;
    opacity: 0.6;
    position: absolute;
    animation: confettiFall 3s linear infinite;
}

.confetti div:first-child {
    left: 10%;
}

.confetti div:nth-child(2) {
    background-color: aqua;
    left: 30%;
}

.confetti div:nth-child(3) {
    left: 50%;
    animation-delay: 1s;
    background: #2ecc71;
}

.confetti div:nth-child(4) {
    left: 70%;
    animation-delay: 1.5s;
    background: #3498db;
}

.confetti div:nth-child(5) {
    left: 90%;
    animation-delay: 2s;
    background: #9b59b6;
}

@keyframes confettiFall {
    0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(500px) rotate(720deg);
        opacity: 0;
    }
}
        